<html>
  <head>
    <meta charset='UTF-8' />
    <title>Welcome Email</title>
  </head>
  <body>
    <h1>Welcome, {{userName}}!</h1>
    <p>Thank you for signing up with {{userEmail}}. We are excited to have you on board.</p>
    <p>Feel free to explore our platform and let us know if you have any questions.</p>
    <p>Best regards,</p>
    <p>The Team</p>
  </body>
</html>