import { Args, Ctx, Info, Mutation, Query, Resolver } from 'type-graphql';
import { GraphQLResolveInfo } from 'graphql';
import { #model#, #model#CrudResolver } from 'generated';
import { Ctx as Context } from 'src/app.types';
// #import-area#


@Resolver(#model#)
export class #model#Resolver extends #model#CrudResolver {

    constructor(
        // #constructor-area#
        
    ) {
        super();
    }

    // #methods-area#

}
