import { Module } from '@nestjs/common';
import { #model#Resolver } from './#model-lower#.resolver';
// #import-area#


@Module({
  providers: [ 
    #model#Resolver
    ],
})
export class #model#Module {}